* text=auto

/.github export-ignore
/tests export-ignore
/*.png export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
phpunit.xml export-ignore
tlint.svg export-ignore
